<div class="nav">
  <a class="nav_link" href="<%= routes['website_sign_in'] %>">ENTRAR</a>
  <a class="nav_link" href="<%= routes['website_sign_up'] %>">REGISTAR </a>
</div>

<div class="grid-homepage">
  <div class="title">
    <p>ALMANAQUE DA SARDINHA</p>
  </div>
  <div class="search">
    <form class="form_search" action="<%= routes['website_search'] %>">
      <input type="text" name="search" placeholder="COMO É QUE É?" class="placeholder"/>
      <div class="search_input" onclick="this.parent.submit()">
        <i class="fas fa-search"></i>
      </div>
    </form>
  </div>
</div>

<div class="grid-container">
  <div class="header">RECENTES</div>
  <% recent_submissions.forEach((submission, i) => { %>
    <a class="card card_<%= i %>" href="<%= routes['website_submission'] %>/<%= submission.slug %>">
      <%= submission.expression %>
    </a>
  <% }) %>
</div>
