<a href="<%= routes['website_sign_in'] %>">Login</a>
<a href="<%= routes['website_sign_up'] %>">Register</a>

<div class="grid-homepage">
  <div class="search">
  </div>
</div>

<div class="grid-container">
  <div class="header">RECENTES</div>
  <% recent_submissions.forEach((submission, i) => { %>
    <a class="card card_<%= i %>" href="<%= routes['website_submission'] %>/<%= submission.slug %>">
      <%= submission.expression %>
    </a>
  <% }); %>
</div>
