<div class="submission">
  <div class="grid-submission">

  <form action="<%= routes['website_sign_up'] %>" method="post" >
    <div class="submission-title">REGISTO</div>

    <div class="expression">
      <label for="email">Email<%= errors["email"] ? ` (${errors["email"]})` : '' %></label>
      <input type="email" name="email" class="text-input">
    </div>

    <div class="description">
      <label for="username">Username<%= errors["username"] ? ` (${errors["username"]})` : '' %></label>
      <input type="text" name="username" class="text-input">
    </div>

    <div class="description">
      <label for="password">Password<%= errors["password"] ? ` (${errors["password"]})` : '' %></label>
      <input type="password" name="password" class="text-input">
    </div>

    <div class="description">
      <label for="password_confirmation">
        Confirmação password<%= errors["password_confirmation"] ? ` (${errors["password_confirmation"]})` : '' %>
      </label>
      <input type="password" name="password_confirmation" class="text-input">
    </div>

    <div class="description">
      <p class="recovery">
        <input type="checkbox" name="terms_accepted" class="recovery">
        Aceito os <a href="<%= routes['website_terms'] %>">termos</a>
        <%= errors["terms_accepted"] ? `(${errors["terms_accepted"]})` : '' %>
      </p>
    </div>

    <div class="submit">
      <input type="submit" value="REGISTAR">
    </div>
  </form>
  </div>
</div>
