<h1>Registar</h1>

<form action="<%= routes['website_sign_up'] %>" method="POST">
  <label for="email">Email<%= errors["email"] ? ` (${errors["email"]})` : '' %></label>
  <input type="email" name="email">

  <br>
  <label for="username">Username<%= errors["username"] ? ` (${errors["username"]})` : '' %></label>
  <input type="text" name="username">

  <br>
  <label for="password">Password<%= errors["password"] ? ` (${errors["password"]})` : '' %></label>
  <input type="password" name="password">

  <br>
  <label for="password_confirmation">
    Confirmação password
    <%= errors["password_confirmation"] ? ` (${errors["password_confirmation"]})` : '' %>
  </label>
  <input type="password" name="password_confirmation">

  <p>
    <%= errors["terms_accepted"] ? `(${errors["terms_accepted"]})` : '' %>
    <input type="checkbox" name="terms_accepted">
    Aceito os <a href="<%= routes['website_terms'] %>">termos</a>
  </p>

  <input type="submit" value="Registar">
</form>