<h1>Edit User</h1>

<form action="<%= url_for('admin_users_edit', user.original_username) %>" method="post">
  <div>
    <label>Username<%= errors["username"] ? ` (${errors["username"]})` : '' %></label>
    <input name="username" type="text" value="<%= user.username %>"/>
  </div>

  <div>
    <label>Email<%= errors["email"] ? ` (${errors["email"]})` : '' %></label>
    <input name="email" type="email" value="<%= user.email %>" />
  </div>

  <div>
    <label>Role</label>
    <select name="role">
      <% Object.entries(User.roles()).forEach(([role_name, role_id]) => { %>
        <option value="<%= role_id %>"<%= role_id == user.role ? ' selected' : '' %>><%= role_name %></option>
      <% }) %>
    </select>
  </div>

  <div>
    <label>Password (Leave blank to keep password)<%= errors["password"] ? ` (${errors["password"]})` : '' %></label>
    <input name="password" type="password" />
  </div>

  <input type="submit" value="Update">
</form>

<p><a href="<%= url_for('admin_users') %>">Users</a></p>
<p><a href="<%= url_for('admin_users', user.original_username) %>">Show</a></p>
<p><a onclick="delete_confirmation('<%= url_for('admin_users_delete', user.username) %>')">Delete</a></p>