<p>PLATFORM<p>

<br>
<a href="<%= routes['platform_logout'] %>"><p>Logout</p></a>

<br>
<a href="<%= routes['platform_submission'] %>"><p>Adicionar expressão</p></a>

<br>
<p>Alterar password</p>
<form action="<%= routes['platform_password'] %>" method="post">
  <label for="password">Password<%= errors["password_password"] ? ` (${errors["password_password"]})` : '' %></label>
  <input type="password" name="password" class="text-input">

  <label for="password_confirmation">
    Confirmação password
    <%= errors["password_password_confirmation"] ? ` (${errors["password_password_confirmation"]})` : '' %>
  </label>
  <input type="password" name="password_confirmation" class="text-input">

  <input type="submit" value="ALTERAR">
</form>